*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

body{
    background-image: url(https://acegif.com/wp-content/gifs/starfall-gif-20.gif);
} 


header{
    min-height: 100px;
    background-color: rgb(85, 126, 241);
    display: flex     ;
    justify-content: space-between ;}

header h1{
    padding: 20px 0 0 10px;
    color: white;
    font-size: 3em;}

header p{padding: 30px 10px 0 0;
font-size: 2em;
color: white;
}
#CONTENIDO{width: 70%;
border-radius: 25px;
min-height: 35vh;
border: 3px solid blue;
margin: 50px auto 20px;
font-size: 2em;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
text-align: center;
color: white;
padding: 10px;
background-color: rgb(85, 126, 241,0.3);
}
div{text-align: center;}
button{color: white;
background-color: blue;
padding: 2%;
border-radius: 20em;
font-weight: bold;
box-shadow: 0 0 10px 0 black;
border: 3px solid white;
margin: 10px;
cursor: pointer;
text-transform: uppercase;
}
button:hover{
    box-shadow: 0 0 20px 0 blue;
}